<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dearwang.store01.mapper.AddressMapper">
    <!--  定义自定义结果集映射规则  -->
    <resultMap id="queryAddress" type="address">
        <id property="aid" column="aid"/>
        <!--<result property="uid" column="uid"/>
        <result property="name" column="name"/>-->
        <!--字段名一致可忽略-->
        <result property="provinceName" column="province_name"/>
        <result property="provinceCode" column="province_code"/>
        <result property="cityName" column="city_name"/>
        <result property="cityCode" column="city_code"/>
        <result property="areaName" column="area_name"/>
        <result property="areaCode" column="area_code"/>
        <!--<result property="zip" column="zip"/>
        <result property="address" column="address"/>
        <result property="phone" column="phone"/>
        <result property="tel" column="tel"/>
        <result property="tag" column="tag"/>-->
        <!--字段名一致可以省略-->
        <result property="isDefault" column="is_default"/>
        <result property="createdUser" column="created_user"/>
        <result property="createdTime" column="created_time"/>
        <result property="modifiedUser" column="modified_user"/>
        <result property="modifiedTime" column="modified_time"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="aid">
        insert into t_address(
                    uid,addname,province_name,province_code,city_name,city_code,area_name,
					area_code,zip,address,phone,tel,tag,is_default,created_user,created_time,
                    modified_user,modified_time)
                values(
                    #{uid},#{addname},#{provinceName},#{provinceCode},#{cityName},
                    #{cityCode},#{areaName},#{areaCode},#{zip},#{address},#{phone},
                    #{tel},#{tag},#{isDefault},#{createdUser},#{createdTime},
                    #{modifiedUser},#{modifiedTime})
    </insert>

    <!--resultType定义返回值类型，需要从包导入-->
    <select id="countByUid" resultType="java.lang.Integer">
        SELECT  count(*) from t_address WHERE uid=#{uid}
    </select>

    <!--降序排序-->
    <select id="findByUid" resultMap="queryAddress">
        SELECT * FROM  t_address WHERE uid = #{uid}
        ORDER BY is_default DESC ,created_time DESC
    </select>
    <!--设置所有收货地址为非默认-->
    <update id="updateNonDefault">
        UPDATE t_address SET is_default = 0 WHERE  uid = #{uid}
    </update>

    <update id="updateDefault">
        UPDATE t_address SET is_default = 1,modified_user=#{modifiedUser},
                             modified_time=#{modifiedTime}
        WHERE  aid = #{aid}
    </update>

    <update id="updateAddress">
        UPDATE t_address SET    uid=#{uid},
                                addname=#{addname},
                                province_name=#{provinceName},
                                province_code=#{provinceCode},
                                city_name=#{cityName},
                                city_code=#{cityCode},
                                area_name=#{areaName},
                                area_code=#{areaCode},
                                zip=#{zip},
                                address=#{address},
                                phone=#{phone},
                                tel=#{tel},
                                tag=#{tag},
                                modified_user=#{modifiedUser},
                                modified_time=#{modifiedTime}
        WHERE  aid = #{aid}
    </update>

    <select id="findByAid" resultMap="queryAddress">
        SELECT * FROM t_address WHERE aid = #{aid}
    </select>

    <delete id="deleteByAid">
        DELETE  FROM t_address WHERE aid = #{aid}
    </delete>

    <!--返回的对象只要是对象类型都需要设置结果集映射-->
    <select id="findNewModifiedTime" resultMap="queryAddress">
        SELECT * FROM t_address WHERE uid = #{uid}
        ORDER BY modified_time ASC LIMIT 0,1
    </select>
</mapper>